* {
    box-sizing: border-box;
}
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}
.layout {
    width: 1366px;
    padding: 0 155px;
    background-color: #DDDDDD;
    font-family: sans-serif;
}
.header{
}
.header .logo-img {
    float: left;
    margin-right: 15px;
}
.header .logo-text {
    width: 400px;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF;
}
.header .logo-text::before {
    content: url("../img/logo.png");
    float: left;
    margin-right: 15px;
}
.header .logo-text:hover {
    color: #f26522;
}
.header .logo-text:hover::before {
    content: url("../img/logo-hover.png");
}
.header .logo-text h1 {}
.header .logo-text h1:first-child {
    font-size: 29px;
    font-weight: bold;
}
.header .contact-info {
    margin-top: 0;
    font-size: 18px;
    font-color: #FFFFFF;
}
.header .contact-info {
    float: left;
}
.header .contact-info a {
}